li {
    margin: 16px 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
color: white;
margin: 0;

}

html {
    font-size:10px;
background-color: black;
}

.year{
    color: #8a00c2;
}

.purp{
    color: #8a00c2;
text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 
    0;
text-align: center;
}

img{
     width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
display: block;
}

figcaption{
     font-size: 1rem;
    margin-bottom: 
    0;
text-align: center;

padding: 10px;
}

